<div style="text-align:center">
  <button type="button" class="btn btn-warning table-button__create" (click)="modal.show(); addUser()">Add User</button>
  <app-dialog #modal>
    <div class="app-modal-header">
      User preference
    </div>
    <div class="app-modal-body">
      <form [formGroup]="userForm" (ngSubmit)="submitUser()">
        <div>
          <p>Name</p>
          <span class="form_validation_error" *ngIf="userForm.controls['userName'].invalid && userForm.controls['userName'].touched">*User name is required</span>
          <input type="text" id="name" formControlName="userName" required>
        </div>

        <div>
          <p>Surname</p>
          <span class="form_validation_error" *ngIf="userForm.controls['userSurname'].invalid && userForm.controls['userSurname'].touched">*User surname is required</span>
          <input type="text" id="surname" formControlName="userSurname" required>
        </div>

        <div>
          <p>Email</p>
          <span class="form_validation_error" *ngIf="userForm.controls['userEmail'].invalid && userForm.controls['userEmail'].touched">*User email is required</span>
          <input type="email" id="email" formControlName="userEmail" required>
        </div>

        <div>
          <p>Phone Number</p>
          <span class="form_validation_error" *ngIf="userForm.controls['phone'].invalid && userForm.controls['phone'].touched">*User phone number is required</span>
          <input type="number" id="phone" formControlName="phone" required>
        </div>

        <div>
          <p>Date of Birth</p>
          <span class="form_validation_error" *ngIf="userForm.controls['dateOfBirth'].invalid && userForm.controls['dateOfBirth'].touched">*User birth date is required</span>
          <input type="date" id="date" formControlName="dateOfBirth" required>
        </div>
      </form>
    </div>
    <div class="app-modal-footer">
      <button type="button" class="btn btn-default" (click)="modal.hide()">Close</button>
      <button type="submit" [disabled]="userForm.invalid" class="btn btn-primary" (click)="modal.submitUser(userForm)">Save changes</button>
    </div>
  </app-dialog>
</div>
<div class="table_wrapper">

  <table cellspacing='0'>
    <thead>
    <tr>
      <th>Name</th>
      <th>Surname</th>
      <th>Data Of Birth</th>
      <th>Phone Number</th>
      <th>Email</th>
      <th>Last Changes</th>
      <th>Delete User</th>
      <th>Edit User</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let data of userData.slice().reverse()">
      <td>{{data.details.userName}}</td>
      <td>{{data.details.userSurname}}</td>
      <td>{{data.details.dateOfBirth}}</td>
      <td>{{data.details.phone}}</td>
      <td>{{data.details.userEmail}}</td>
      <td>{{data.details.lastChanges}}</td>
      <td>
        <button class="table-button__edit btn btn-primary" (click)="editUser(data); modal.show()">Edit</button>
      </td>
      <td>
        <button class="table-button__delete btn btn-danger"  (click)="deleteUser(data.id)">Delete</button>
      </td>
    </tr>
    </tbody>
  </table>

</div>
